<h1>YOU WIN!!!</h1>

<h3>You now have <%=current_user.wins %> wins, <%=current_user.draws%> draws and <%=current_user.losses%> losses. Check out the <%= link_to 'leaderboard', users_path %> to see how you're doing!</h3>

<%= link_to('New Game', new_ttt_path) %>