<%= form_for(@game) do |f| %>
  <% @showgrid.flatten.each_with_index do |value, index| %>
    <div class="grid-separator">
      <% if value == ""%>
        <%= radio_button_tag(:index, index, class: 'submit-move')%>
        <p class='show-grid-value'><%= value %></p>
      <% else %>
        <p class='show-grid-value'><%= value %></p>
      <% end %>
    </div>
  <% end %>
  <%= f.submit 'Choose your square!' %>
<% end %>




