<%= form_for(@game) do |f| %>
<div class='submit-move'><%= f.submit 'Choose your square!', :class => 'submit-button' %></div>
  <% @showgrid.flatten.each_with_index do |value, index| %>
    <div class="grid-separator">
      <% if value == ""%>
      <%= radio_button_tag(:index, index, false, class: 'radio-button')%>
        <label for='index_<%=index%>' data-player='<%=@current_player %>' class='submit'></label>
        <p class='show-grid-value'><%= value %></p>
      <% else %>
        <span class='show-grid-value'><%= value %></span>
      <% end %>
    </div>
  <% end %>
<% end %>




