<div class='game-board'>
  <% if @status.nil? %>
    <%= form_for(@game) do |f| %>
      <div class='submit-move'><%= f.submit 'Choose your square!', :class => 'submit-button' %></div>
      <% @showgrid.flatten.each_with_index do |value, index| %>
        <div class="grid-separator">
          <% if value == ""%>
            <%= radio_button_tag(:index, index, false, class: 'radio-button')%>
            <label for='index_<%=index%>'  class='submit'></label>
            <p class='show-grid-value'><%= value %></p>
          <% else %>
            <span class='show-grid-value'><%= value %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% elsif @status == 'win' %>
    <h3> YOU WIN!!!</h3>
      <%= render partial: 'results_display' %>
  <% elsif @status == 'draw' %>
    <h3>YOU DREW!!!</h3>
      <%= render partial: 'results_display' %>
  <% elsif @status == 'loss' %>
    <h3>YOU LOSE!!!</h3>
    <%= render partial: 'results_display' %>
  <% end %>
</div>





