<!DOCTYPE html>
<html>
<head>
  <title>Project1TicTacToe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <header>
      <h1 class='show-title'>NOUGHTS</h1>
      <h1 class='show-title'>AND</h1>
      <h1 class='show-title'>CROSSES</h1>
        <div class='navmenu'>
          <ul class='nav-menu-links'>
          <% if user_signed_in? %>
            <li><%= link_to('N E W  G A M E', new_ttt_path) %></li>
            <li><%= link_to('L E A D E R B O A R D', users_path) %></li>
            <li><%= link_to('H O M E', root_path) %></li>
            <li><%= link_to('L O G O U T', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('L O G I N', new_user_session_path)  %></li>
            <li><%= link_to('R E G I S T E R', new_user_registration_path)  %></li>
          <% end %>
          </ul>
        </div>
    </header>
    <%= yield %>
  </div>
</body>
</html>
